Repository nyanham/morning-routine-productivity: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, bandit, eslint, prettier, typescript

Path conditions:
  ruff: any of: ^backend/.*\.py$
  ruff-format: any of: ^backend/.*\.py$
  bandit: any of: ^backend/.*\.py$, but not: ^backend/(tests|scripts)/
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  typescript: any of: ^frontend/src/.*\.(ts|tsx)$

fix(frontend): revert parallaxSpeed to positive values, fix rAF test
  docs/04-Frontend/02-Components.md
  frontend/src/__tests__/components/landing/Fireflies.test.tsx
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

fix(frontend): add missing Blue Slate palette shades (300/500/700)
  frontend/src/app/globals.css
Due: prettier

fix(frontend): gate parallax on reduced-motion, remove font-family conflict
  frontend/src/app/globals.css
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  docs/04-Frontend/02-Components.md
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

fix(frontend): skip scroll-reveal when prefers-reduced-motion is active
  frontend/src/components/landing/RevealSection.tsx
  frontend/src/hooks/useScrollReveal.ts
Due: eslint, prettier, typescript

fix(frontend): address Copilot review — aria attrs, reduced-motion sync, tests
  frontend/src/__tests__/components/landing/Header.test.tsx
  frontend/src/__tests__/hooks/useScrollReveal.test.ts
  frontend/src/components/landing/Header.tsx
  frontend/src/components/landing/RevealSection.tsx
  frontend/src/hooks/useScrollReveal.ts
Due: eslint, prettier, typescript

refactor(frontend): remove unused _mockAuthContext from test-utils
  frontend/src/test-utils.tsx
Due: eslint, prettier, typescript

Apply suggestion from @Copilot
  .github/workflows/ci.yml
Due: none

ci: add SAM deploy, reusable workflows, and pre-commit tests
  .github/workflows/_ci-backend.yml
  .github/workflows/_ci-frontend.yml
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: none

ci: unify CI pipeline and remove Dependabot-specific workflow
  .github/workflows/_ci-backend.yml
  .github/workflows/_ci-frontend.yml
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
Due: none

ci: address Copilot review feedback
  .github/workflows/_ci-backend.yml
  .github/workflows/_ci-frontend.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
Due: none

Update pydantic dependencies to use minimum versions
  backend/requirements.txt
Due: none

fix: Updated the requirements.txt due to sam deploy error.
  backend/poetry.lock
  backend/requirements.txt
Due: none

Change deployment environment from production to development
  .github/workflows/deploy.yml
Due: none

Update SAM deploy stack name in workflow
  .github/workflows/deploy.yml
Due: none

Update S3 bucket in deploy workflow
  .github/workflows/deploy.yml
Due: none

Add IAM capability to SAM deploy command
  .github/workflows/deploy.yml
Due: none

feat(frontend): redesign login & signup pages — visual, a11y, tests
  frontend/src/__tests__/components/LoginPage.test.tsx
  frontend/src/__tests__/components/SignUpPage.test.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

Apply suggestion from @Copilot
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

Clarify loading spinner behavior with comment
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

fix(frontend): add aria-describedby to Full Name input, restore why-comment
  frontend/src/__tests__/components/SignUpPage.test.tsx
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

feat(frontend): add decorative abstract shapes to auth brand panels
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

feat(frontend): randomised coloured shapes on auth brand panels
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/components/auth/BrandShapes.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  frontend/src/__tests__/components/SignUpPage.test.tsx
  frontend/src/components/auth/BrandShapes.tsx
Due: eslint, prettier, typescript

test(frontend): add BrandShapes tests; docs: update component & test refs
  docs/04-Frontend/01-UI-Structure.md
  docs/04-Frontend/02-Components.md
  docs/08-Testing/03-Frontend-Tests.md
  frontend/src/__tests__/components/BrandShapes.test.tsx
Due: eslint, prettier, typescript

Fix formatting in UI structure documentation
  docs/04-Frontend/01-UI-Structure.md
Due: none

feat(dashboard): redesign overview with MorningFlow style and quick actions
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

feat(dashboard): add top header bar with notifications and profile dropdown
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

feat(dashboard): rebuild layout with top header bar and icon sidebar
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

style(dashboard): floating glassmorphic sidebar and header with gradient bg
  frontend/src/app/globals.css
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

style(dashboard): separate capsules, transparent glass, single-row stats
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/StatsCard.tsx
Due: eslint, prettier, typescript

feat(dashboard): redesign with profile banner, expandable entries, and insights sidebar
  frontend/src/__tests__/components/DashboardPage.test.tsx
  frontend/src/__tests__/components/Skeleton.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/dashboard/CircularProgress.tsx
  frontend/src/components/dashboard/DashboardTabs.tsx
  frontend/src/components/dashboard/InsightsCard.tsx
  frontend/src/components/dashboard/MetricRangeBar.tsx
  frontend/src/components/dashboard/ProfileBanner.tsx
  frontend/src/components/dashboard/RoutineEntryPanel.tsx
  frontend/src/components/dashboard/SummaryCard.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

style: adjust layout spacing, logo/header sizing, and reduce transparency
  frontend/src/__tests__/components/Skeleton.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/dashboard/InsightsCard.tsx
  frontend/src/components/dashboard/ProfileBanner.tsx
  frontend/src/components/dashboard/RoutineEntryPanel.tsx
  frontend/src/components/dashboard/SummaryCard.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

feat: add scrollable Dashboard title, resize logo, remove refresh, reorder banner
  frontend/src/__tests__/components/DashboardPage.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

refactor: fix layout alignment and remove profile banner/refresh
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

fix: address Copilot review comments on dashboard PR
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/dashboard/MetricRangeBar.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix: address second round of Copilot review comments
  frontend/src/__tests__/components/StatsCard.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/StatsCard.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  frontend/src/components/dashboard/RoutineEntryPanel.tsx
  frontend/src/components/layout/DashboardHeader.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

test(insights): add unit tests for deriveInsights scoring logic
  frontend/src/__tests__/components/InsightsCard.test.tsx
  frontend/src/components/dashboard/InsightsCard.tsx
  frontend/src/components/dashboard/index.ts
Due: eslint, prettier, typescript
