Repository nyanham/morning-routine-productivity: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, bandit, eslint, prettier, typescript

ruff:
  name: ruff
  entry: poetry run -C backend ruff check --fix --exit-non-zero-on-fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: poetry run -C backend ruff format .
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: poetry run -C backend bandit -c pyproject.toml -r app
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run format --prefix frontend
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript:
  name: typescript
  entry: npm run typecheck --prefix frontend
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(deps): bump cryptography 46.0.4 → 46.0.5 (CVE-2026-26007)
  backend/poetry.lock
  backend/requirements.txt
Due: none

bump: release v0.2.0-beta
  .cz.toml
  CHANGELOG.md
  SECURITY.md
  backend/pyproject.toml
  frontend/package.json
Due: prettier

refactor: migrate Pydantic class Config to model_config = ConfigDict(...)
  backend/app/core/config.py
  backend/app/models/productivity.py
  backend/app/models/routine.py
  backend/app/models/user.py
Due: ruff, ruff-format, bandit

fix(db): set immutable search_path on PostgreSQL functions
  database/migrations/001_fix_mutable_search_path.sql
  database/schema.sql
  docs/06-Database/03-Triggers-and-Functions.md
Due: none

perf(db): wrap auth.uid() in subselect for RLS policies
  database/migrations/002_fix_rls_auth_uid_subselect.sql
  database/schema.sql
  docs/06-Database/02-Row-Level-Security.md
Due: none

feat(ui): show loading spinner during auth session precheck
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
Due: eslint, prettier, typescript

fix(a11y): announce loading spinner to assistive technologies
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/contexts/AuthContext.tsx
Due: eslint, prettier, typescript

refactor(ui): extract FullPageSpinner shared component
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/components/ui/FullPageSpinner.tsx
  frontend/src/contexts/AuthContext.tsx
Due: eslint, prettier, typescript

test(ui): add tests for FullPageSpinner, login and signup loading
  frontend/src/__tests__/components/FullPageSpinner.test.tsx
  frontend/src/__tests__/components/LoginPage.test.tsx
  frontend/src/__tests__/components/SignUpPage.test.tsx
Due: eslint, prettier, typescript

refactor(ui): use FullPageSpinner in login Suspense fallback
  frontend/src/app/auth/login/page.tsx
Due: eslint, prettier, typescript

feat(ui): add skeleton loading states for dashboard components
  frontend/src/__tests__/components/Skeleton.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix(ui): prevent demo data flash before skeleton appears
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

refactor(ui): remove all demo/template data from dashboard
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix(ui): show skeleton on manual refresh, not only initial load
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

fix(ui): add empty state messages for charts and table
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/charts/ProductivityChart.tsx
  frontend/src/components/charts/RoutineBarChart.tsx
  frontend/src/components/charts/SleepDistributionChart.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

Apply suggestions from code review
  frontend/src/components/charts/ProductivityChart.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix(ui): include chartData in loading/error state and suppress lint warning
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

refactor(ui): address dashboard code review feedback
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

fix(ui): guard against unmount state update and fix chart date sorting
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

fix(a11y): consolidate skeleton role=status to single DashboardSkeleton wrapper
  frontend/src/__tests__/components/Skeleton.test.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

test: add dashboard loading lifecycle tests, remove unused ChartSkeleton title prop
  frontend/src/__tests__/components/DashboardPage.test.tsx
  frontend/src/__tests__/components/Skeleton.test.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix(ci): use pull_request_target for Dependabot PRs to access secrets
  .github/dependabot.yml
  .github/workflows/ci-dependabot.yml
  docs/07-Operations/02-CI-CD.md
Due: none

refactor(ci): use PR author instead of actor for Dependabot gating
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
  docs/07-Operations/02-CI-CD.md
Due: none

fix(ci): sync docs with user.login checks and pin trivy-action in ci.yml
  .github/workflows/ci.yml
  docs/07-Operations/02-CI-CD.md
Due: none

Apply suggestions from code review
  .github/workflows/ci-dependabot.yml
Due: none

Apply suggestions from code review
  .github/workflows/ci.yml
Due: none

fix(ui): align skeleton docstring and empty state messages with reviews
  frontend/src/components/charts/ProductivityChart.tsx
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

fix(types): allow null in AnalyticsSummary and add transition test
  frontend/src/__tests__/components/DashboardPage.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/types/index.ts
Due: eslint, prettier, typescript

fix: show skeleton on manual refresh and address PR review comments
  frontend/src/__tests__/components/DashboardPage.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: eslint, prettier, typescript

feat: add landing page with animated sections, tests, and docs
  docs/04-Frontend/01-UI-Structure.md
  docs/04-Frontend/02-Components.md
  docs/04-Frontend/03-Hooks.md
  docs/04-Frontend/05-Styling.md
  frontend/src/__tests__/components/landing/CommunityPreview.test.tsx
  frontend/src/__tests__/components/landing/Features.test.tsx
  frontend/src/__tests__/components/landing/Fireflies.test.tsx
  frontend/src/__tests__/components/landing/Footer.test.tsx
  frontend/src/__tests__/components/landing/Header.test.tsx
  frontend/src/__tests__/components/landing/HowItWorks.test.tsx
  frontend/src/__tests__/components/landing/LandingPage.test.tsx
  frontend/src/__tests__/components/landing/RevealSection.test.tsx
  frontend/src/__tests__/hooks/useScrollReveal.test.ts
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/landing/CTABanner.tsx
  frontend/src/components/landing/CommunityPreview.tsx
  frontend/src/components/landing/Features.tsx
  frontend/src/components/landing/Fireflies.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/Header.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/landing/HowItWorks.tsx
  frontend/src/components/landing/RevealSection.tsx
  frontend/src/components/landing/index.ts
  frontend/src/hooks/useScrollReveal.ts
  frontend/tailwind.config.js
Due: eslint, prettier, typescript

feat(landing): fast blob entrance + parallax scroll depth
  docs/04-Frontend/02-Components.md
  docs/04-Frontend/05-Styling.md
  frontend/src/__tests__/components/landing/Fireflies.test.tsx
  frontend/src/app/globals.css
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

fix(landing): resolve eslint set-state-in-effect error
  frontend/src/__tests__/components/landing/Fireflies.test.tsx
  frontend/src/app/globals.css
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

fix(frontend): resolve all 29 eslint warnings across 10 files
  docs/04-Frontend/01-UI-Structure.md
  docs/04-Frontend/03-Hooks.md
  frontend/src/app/dashboard/entry/page.tsx
  frontend/src/app/dashboard/import/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/CSVUploader.tsx
  frontend/src/components/ui/StatsCard.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/supabase/server.ts
  frontend/src/test-utils.tsx
Due: eslint, prettier, typescript

fix(ci): remove duplicate Trivy security-scan from ci-dependabot.yml
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
Due: none

Apply suggestion from @Copilot
  docs/04-Frontend/02-Components.md
Due: none

Apply suggestion from @Copilot
  frontend/src/components/landing/Fireflies.tsx
Due: eslint, prettier, typescript

fix(frontend): address Copilot PR review comments on landing page
  docs/04-Frontend/02-Components.md
  docs/04-Frontend/05-Styling.md
  frontend/src/__tests__/components/landing/Fireflies.test.tsx
  frontend/src/components/landing/Fireflies.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useScrollReveal.ts
Due: eslint, prettier, typescript

Path conditions:
  ruff: any of: ^backend/.*\.py$
  ruff-format: any of: ^backend/.*\.py$
  bandit: any of: ^backend/.*\.py$, but not: ^backend/(tests|scripts)/
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  typescript: any of: ^frontend/src/.*\.(ts|tsx)$
