Repository nyanham/morning-routine-productivity: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, bandit, eslint, prettier, typescript

Path conditions:
  ruff: any of: ^backend/.*\.py$
  ruff-format: any of: ^backend/.*\.py$
  bandit: any of: ^backend/.*\.py$, but not: ^backend/(tests|scripts)/
  eslint: any of: ^frontend/src/.*\.[jt]sx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  typescript: any of: ^frontend/src/.*\.(ts|tsx)$

fix: address Copilot review — remove dead ProfileBanner code, fix skeleton docs, fix No-data legend
  frontend/src/components/dashboard/SummaryCard.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/components/ui/Skeleton.tsx
Due: eslint, prettier, typescript

feat(entries): add My Entries page with list, detail, and delete
  frontend/src/app/dashboard/entries/page.tsx
Due: eslint, prettier, typescript

chore: Updated the readme file pictures.
  README.md
  docs/images/analytics.png
  docs/images/dashboard.png
  docs/images/entry-form.png
  docs/images/import-csv.png
  docs/images/landing.png
  docs/images/login-page.png
Due: none

refactor(entries): extract page into modular components
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/DeleteDialog.tsx
  frontend/src/components/entries/EmptyState.tsx
  frontend/src/components/entries/EntriesList.tsx
  frontend/src/components/entries/EntriesListSkeleton.tsx
  frontend/src/components/entries/EntriesToolbar.tsx
  frontend/src/components/entries/EntryDetail.tsx
  frontend/src/components/entries/ErrorBanner.tsx
  frontend/src/components/entries/index.ts
Due: eslint, prettier, typescript

feat(entries): replace list view with calendar view
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/CalendarSkeleton.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/index.ts
Due: eslint, prettier, typescript

feat(entries): compact calendar cells with month picker and add-entry links
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
Due: eslint, prettier, typescript

feat(entries): inline calendar detail panel, weekend/holiday markers, EntryForm component, remove DashboardTabs
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntriesList.tsx
  frontend/src/components/entries/EntryDetail.tsx
  frontend/src/components/entries/EntryForm.tsx
  frontend/src/components/entries/index.ts
  frontend/src/lib/holidays.ts
Due: eslint, prettier, typescript

style(entries): single-palette score gradient, weekend/holiday circles, stylish banner, prevent calendar remount on refresh
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
Due: eslint, prettier, typescript

style(entries): minimalist detail/form with icons, text-colored weekends, remove legend, fix panel size
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntryDetail.tsx
  frontend/src/components/entries/EntryForm.tsx
Due: eslint, prettier, typescript

style(entries): compact form matching detail layout, fix panel sizing, add loading feedback
  frontend/src/app/dashboard/entries/page.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntryDetail.tsx
  frontend/src/components/entries/EntryForm.tsx
Due: eslint, prettier, typescript

style(entries): borderless inline inputs matching detail layout
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntryForm.tsx
Due: eslint, prettier, typescript

refactor(entries): remove redundant action buttons, update calendar skeleton
  frontend/src/components/entries/CalendarSkeleton.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntryDetail.tsx
Due: eslint, prettier, typescript

fix: address PR #75 review — a11y, focus management, tests
  README.md
  frontend/src/__tests__/components/EntriesPage.test.tsx
  frontend/src/__tests__/lib/holidays.test.ts
  frontend/src/components/entries/DeleteDialog.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/components/entries/EntriesList.tsx
  frontend/src/components/entries/EntryDetail.tsx
  frontend/src/components/entries/EntryForm.tsx
  frontend/src/components/entries/ErrorBanner.tsx
  frontend/src/lib/holidays.ts
Due: eslint, prettier, typescript

fix: address PR #75 wave-2 review comments
  README.md
  frontend/src/__tests__/lib/holidays.test.ts
  frontend/src/components/entries/DeleteDialog.tsx
  frontend/src/components/entries/EntriesCalendar.tsx
  frontend/src/lib/holidays.ts
Due: eslint, prettier, typescript

ci: harden workflows, add ci-dependabot.yml, fix deploy syntax
  .github/dependabot.yml
  .github/workflows/_ci-backend.yml
  .github/workflows/_ci-frontend.yml
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docker-compose.yml
  frontend/Dockerfile
Due: none

ci: consolidate security-scan into ci.yml, fix flaky pytest
  .github/workflows/_ci-backend.yml
  .github/workflows/ci-dependabot.yml
  .github/workflows/ci.yml
Due: none

chore: Updated poetry.lock, and dependabot auto merge ci node.js version.
  .github/workflows/ci.yml
  backend/poetry.lock
Due: none

fix: Updated the requirements.txt due to sam deploy error.
  backend/requirements.txt
Due: none

feat: add Statistics Hub with sub-pages and navigation
  frontend/src/app/dashboard/stats/community/page.tsx
  frontend/src/app/dashboard/stats/compare/page.tsx
  frontend/src/app/dashboard/stats/correlations/page.tsx
  frontend/src/app/dashboard/stats/page.tsx
  frontend/src/app/dashboard/stats/personal/page.tsx
  frontend/src/app/dashboard/stats/trends/page.tsx
  frontend/src/components/dashboard/DashboardTabs.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/statistics/StatsFilterPanel.tsx
  frontend/src/components/statistics/StatsNav.tsx
  frontend/src/components/statistics/index.ts
Due: eslint, prettier, typescript

Update Dependabot fetch-metadata action version
  .github/workflows/ci.yml
Due: none

feat(frontend): polish sidebar behavior and stats navigation
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/stats/community/page.tsx
  frontend/src/app/dashboard/stats/compare/page.tsx
  frontend/src/app/dashboard/stats/correlations/page.tsx
  frontend/src/app/dashboard/stats/page.tsx
  frontend/src/app/dashboard/stats/personal/page.tsx
  frontend/src/app/dashboard/stats/trends/page.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint, prettier, typescript

Add demo site link to README
  README.md
Due: none

Revert "chore(deps): bump lucide-react from 0.577.0 to 1.7.0 in /frontend"
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Delete backend/requirements.txt
  backend/requirements.txt
Due: none
